@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

/*  Default styles */ 
html {
    font-size: 16px;
    overflow: hidden;
}

body {
    background-color: #27496d;
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
    font-size: 1.2rem;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

/* Position styling */ 

.flex-container {
    display: flex; 
}

.center-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button, a {
    color: #ffffff;
    border: 0.2rem solid #ffffff;
    text-decoration: none;
    width: 15rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #27496d;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
}



a:hover {
    background-color: #00909e;
}

.container {
    
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    padding: 5%;
}

.choice-container:hover {
    background-color: grey;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    border: 0.2rem solid #ffffff;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.7rem;
}

.choice-prefix {
    padding: 0.2rem;
   float: left;
}

.choice-text {
    padding: 0.2;
    width: 100%;
}

.choice-letter {
    padding: 0 0.5rem;
    font-weight: 800;
}

.right {
    background-color: green;
}

.wrong {
    background-color: red;
}


/* End Page */


form input {
    color: #a9a9a9;
    border: 0.2rem solid #ffffff;
    text-decoration: none;
    width: 12.5rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #ffffff;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

#scoresList {
    list-style: none;
}

.high-score {
    margin: 0.5rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#game-page, #submit-page, #high-score-page {
    display: none;
}